@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #000000;
  color: #F6F6F6;
  /*cor do texto*/
}

.pres {
  margin: 10% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pres__section {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.pres__section__title {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}

.pres__section__text {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.destaque-titulo {
  color: #22D4FD;
}

.pres__links {
  display: flex;
  justify-content: space-between;
}

.pres__links__link {
  background-color: #22D4FD;
  width: 280px;
  text-align: center;
  border-radius: 16px;
  font-size: 24px;
  font-weight: 600;
  padding: 21.5px 0px;
  text-decoration: none;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}